.portfolio--content {

    &-projects {
        display: flex;
        flex-wrap: wrap;


        justify-content: space-around;
        align-items: center;
        gap: 1rem 1rem;
        margin: 1rem;
        min-width: 200px;
        min-height: 200px;

        &>div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 170px;
            width: 170px;
            border-radius: 8px;

            padding: 1rem;

            flex: 1 0 25%;
        }


    }









}


.card {
    //background-image: url(".\\img\\projects\\beach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.8s ease-in-out;
    color: transparent;

    @media only screen and (max-width: 600px) {

        color: $color--text-light;
        animation: boxShadow 10s ease-in-out 0s infinite normal forwards;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;


    }

    &--text {
        display: flex;
        flex-direction: column;


    }

    &:hover {
        height: 220px;
        color: $white;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

        transition: all 0.8s ease-in-out;

    }
}

/* Animation */

@keyframes boxShadow {

    0%,
    50%,
    100% {
        box-shadow: none;
    }

    25%,
    75% {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
}